<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Add Item</h3>
</div>
<form method="post" ng-submit="addItem()">
  <div class="modal-body" id="modal-body">
    <div class="row">
      <div class="col-md-3">
        <label for="file">Select Image</label>
        <input type="file" class="form-control" id="file" accept="image/*" ngf-select="uploadFiles($file, $invalidFiles)" ng-disabled="freeze===1" required/>
      </div>
      <div class="col-md-6">
        <label for="itemName">Item Name</label>
        <input type="text" class="form-control" id="itemName" ng-model="itemName" placeholder="Item Name" ng-disabled="freeze===1" required/>
      </div>
      <div class="col-md-3">
        <label for="itemPrice">Item Price</label>
        <input type="number" class="form-control" ng-model="itemPrice" placeholder="Item Price" ng-disabled="freeze===1" required/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="checkbox">
          <label><input type="checkbox" ng-model="itemActive" class=""/> Active</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="checkbox">
          <label><input type="checkbox" ng-model="itemShowHomepage" class=""/> Show in Homepage</label>
        </div>
      </div>
      <div class="col-md-3">
        <label for="itemPrice">Item Category</label>
        <select class="form-control" ng-model="selectedCategory">
          <option ng-repeat="category in categories" value="{{category.categoryid}}">{{category.name}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Resolution of the item images should be 212x212px for better view</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" ng-model="description"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-disabled="freeze===1">Add</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</form>
