<div ng-controller="categoryCtrl">
  <h3>Categories</h3>
  <hr/>
  <h4>Add new Category</h4>
  <hr/>
  <div uib-alert ng-class="'alert-' + (alert.type || 'warning')" ng-show="alert.alertShow">{{alert.msg}}</div>
  <div class="row">
    <form method="post" ng-submit="addCategory()">
      <div class="col-md-3">
        <input type="text" class="form-control" ng-model="categoryName" placeholder="Category Name" ng-disabled="freeze===1" required/>
      </div>
      <div class="col-md-3">
        <div class="checkbox">
          <label><input type="checkbox" ng-model="categoryActive" class=""/> Active</label>
        </div>
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary" name="submitUpload" type="submit" ng-disabled="freeze===1">Add</button>
      </div>
    </form>
  </div>

  <hr/>
  <h4>Edit Categories</h4>
  <hr/>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Category</th>
            <th>Active</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="category in updatedResults">
            <td>{{$index + 1}}</td>
            <td>{{category.name}}</td>
            <td><input type="checkbox" ng-checked="category.active==1" ng-model="categoryActiveList[category.categoryid]" ng-click="updateActive(category.categoryid)"></td>
            <td><button class="btn btn-danger" ng-click="deletecategory(category.categoryid)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
