<div id="wrapper">

  <div id="sidebar-wrapper" ng-controller="sidepanel">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a href="../index.php">
                  Westdian Web
              </a>
          </li>
          <li>
            <a ng-click="slider()" ng-class="active">Slider</a>
          </li>
          <li>
            <a ng-click="items()">Items</a>
          </li>
          <li>
            <a ng-click="categories()">Categories</a>
          </li>
      </ul>
  </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12"  ng-switch on="content">
                    <slider ng-switch-when="slider"></slider>
                    <items ng-switch-when="items"></items>
                    <categories ng-switch-when="categories"></categories>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
