<div ng-controller="itemsCtrl">
<h3>Items</h3>
<hr/>
<h4>Add new item</h4>
<hr/>
<div uib-alert ng-class="'alert-' + (alert.type || 'warning')" ng-show="alert.alertShow">{{alert.msg}}</div>
<div class="row">
  <div class="col-md-6">
    <button class="btn btn-primary" ng-click="openAddItemModal()"><span class="glyphicon glyphicon-plus"></span>Add Item</button>
  </div>
</div>

<hr/>
<h4>Edit current items</h4>
<hr/>
<uib-accordion close-others="oneAtATime">
  <div uib-accordion-group class="panel-default" is-open="status.open" ng-repeat="item in updatedResults">
    <form methos="post">
      <uib-accordion-heading>
        {{item.name}}
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>

      <div class=row>
        <div class="col-md-6">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" ng-model="item.name" ng-disabled="1==1"/>
          </div>
          <div class="form-group">
            <label for="active">Active</label>
            <input type="checkbox" id="active"
                  ng-checked="item.active==1"
                  ng-model="item.active"
                  ng-true-value="1"
                  ng-false-value="0"/>
          </div>
          <div class="form-group">
            <label for="showhomepage">Show in homepage</label>
            <input type="checkbox" id="showhomepage"
                  ng-checked="item.show_homepage==1"
                  ng-model="item.show_homepage"
                  ng-true-value="1"
                  ng-false-value="0"/>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" ng-model="item.description">{{item.description}}</textarea>
          </div>

          <button class="btn btn-primary" ng-click="itemUpdate(item)"></span>Update</button>
          <button class="btn btn-danger" ng-click="itemDelete(item)">
            <span class="glyphicon glyphicon-trash"></span>
            &nbsp;Delete
          </button>
        </div>
        <div class="col-md-6">
          <img src="../images/items/item_{{item.name | removeSpaces}}.jpg" height="60%" width="60%"/>
        </div>
      </div>
    </form>
  </div>
</uib-accordion>
</div>
