<div class="container" ng-controller="loginCtrl">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form role="form" method="post">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Username" name="username" ng-model="user.username" type="text" autofocus required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" ng-model="user.password" type="password" value="" required>
                            </div>
                            <!--div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div-->
                            <!-- Change this to a button or input when using this as a form -->
                            <button class="btn btn-lg btn-success btn-block" ng-click="login()">Login</button>
                            <p class='text-danger' ng-show="showErrot">
                               You have provided an incorrect username and password combination.
                           </p>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
