<div ng-controller="slider">
  <h3>Slide Show</h3>
  <hr/>
  <h4>Add new slide</h4>
  <hr/>
  <p>Resolution of the slider images should be 1025x500</p>

  <div uib-alert ng-class="'alert-' + (alert.type || 'warning')" ng-show="alert.alertShow">{{alert.msg}}</div>
  <div class="row">
    <form method="post" ng-submit="uploadNewSlide()">
      <div class="col-md-3">
        <input type="file" class="form-control" accept="image/*" ngf-select="uploadFiles($file, $invalidFiles)" ng-disabled="freeze===1" required/>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" ng-model="fileName" placeholder="Name" ng-disabled="freeze===1" required/>
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary" name="submitUpload" type="submit" ng-disabled="freeze===1">Upload</button>
      </div>
    </form>
  </div>
  <hr/>
  <h4>Edit current slides</h4>
  <hr/>
  <uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default" is-open="status.open" ng-repeat="slide in updatedResults">
      <form methos="post">
        <uib-accordion-heading>
          {{slide.name}}
          <i class="pull-right glyphicon"
              ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>

        <div class=row>
          <div class="col-md-3">
            <div class="form-group">
              <label for="active">Active</label>
              <input type="checkbox" id="active"
                    ng-model="slide.active"
                    ng-checked="slide.active==1"
                    ng-true-value="1"
                    ng-false-value="0"/>
            </div>
            <div class="form-group">
              <label for="name">order</label>
              <input type="number" class="form-control" placeholder="order"
                    id="order" ng-model="slide.slide_order" value="{{slide.slide_order}}"/>
            </div>
            <button class="btn btn-primary" ng-click="updateSlide(slide)">Update</button>
            <button class="btn btn-danger" ng-click="deleteSlide(slide.slideid)"><span class="glyphicon glyphicon-trash">&nbsp;Delete</span></button>
          </div>
          <div class="col-md-9">
            <img src="../images/slider/{{slide.name | removeSpaces}}.jpg" height="90%" width="90%"/>
          </div>
        </div>
      </form>
    </div>
  </uib-accordion>
</div>
