<div class="col_1_of_4 span_1_of_4" ng-controller="categoriesCtrl">
  <h4>Categories</h4>
  <ul>
    <li ng-repeat="category in categoryList">
      <a href ng-click="categorySelect(category)">{{category.name}}</a>
    </li>
  </ul>
</div>
