<div class="section group" ng-controller="contactCtrl">
  <div class="col span_2_of_3">
    <div class="contact-form">
      <h2>Contact Us</h2>
        <form method="post" ng-submit="contactFormSubmit()">
          <div>
            <span><label>Name</label></span>
            <span><input name="userName" ng-model="contact.name" type="text" class="textbox" required></span>
          </div>
          <div>
            <span><label>E-mail</label></span>
            <span><input name="userEmail" ng-model="contact.email" type="email" class="textbox" required></span>
          </div>
          <div>
            <span><label>Subject</label></span>
            <span><input name="userSubject" ng-model="contact.subject" type="text" class="textbox" ></span>
          </div>
          <div>
            <span><label>Message</label></span>
            <span><textarea name="userMsg" ng-model="contact.msg" required> </textarea></span>
          </div>
         <div>
           <p ng-show="alert.status=='success'" style="color:green">Message Sent</p>
           <p ng-show="alert.status=='failed'" style="color:red">Message sending Failed. Try again</p>
           <span><input type="submit" value="Submit" class="myButton"></span>
        </div>
        </form>
    </div>
    </div>
  <div class="col span_1_of_3">
    <div class="contact_info">
        <h3>Find Us Here</h3>
          <div class="map">
           <div style="height:175px;width:300px;max-width:100%;list-style:none; transition: none;overflow:hidden;"><div id="canvas-for-google-map" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Westdian+Technology,+Mirigama,+Sri+Lanka&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="google-map-html" rel="nofollow" href="http://www.szablonypremium.pl/wordpress" id="make-map-information">szablony wordpress</a><style>#canvas-for-google-map .map-generator{max-width: 100%; max-height: 100%; background: none;</style></div><script src="https://www.szablonypremium.pl/google-maps-authorization.js?id=ba0c780c-88a7-6112-1b3d-e04f79b8bd5c&c=google-map-html&u=1475996329" defer="defer" async="async"></script>
          </div>
        </div>
      <div class="company_address">
        <h3>Company Information :</h3>
            <p><b>Westdian Technologies</b></p>
            <p>Giriulla road, Mirigama</p>
            <p>Sri Lanka</p>
        <p>Phone:(094) 077 377 5666</p>
        <p>Email: <span>info@westdiantechnologies.com</span></p>
        <p>Follow on: </p>
        <a href="#/facebook" target="_blank"><img src="images/facebook.png" alt="" /></a>
        <a href="#/twitter" target="_blank"><img src="images/twitter.png" alt="" /></a>
     </div>
   </div>
  </div>
