<div class="content_top">
  <div class="heading">
  <h3>New Products</h3>
  </div>
  <div class="see">
    <p><a href="#">See all Products</a></p>
  </div>
  <div class="clear"></div>
</div>


<item-box ng-controller="itemboxCtrl"></item-box>
