<item >
  <div class="section group" ng-repeat="item in items" ng-if="$index%4==0" ng-init="boxes=[0,1,2,3]">
    <div class="grid_1_of_4 images_1_of_4" ng-repeat="box in boxes" ng-show="items[$parent.$index + box]!=undefined">
       <a href="#/preview?itemid={{items[$parent.$index + box].itemid}}">
         <img src="images/items/item_{{items[$parent.$index + box].name | removeSpaces}}.jpg" height="212px" width="212px" alt="" />
       </a>
       <h2>{{items[$parent.$index + box].name}}</h2>
      <div class="price-details">
        <div class="price-number">
          <p><span class="rupees">RS. {{items[$parent.$index + box].price}}</span></p>
        </div>
        <div class="add-cart">
          <h4><a href="#/preview?itemid={{items[$parent.$index + box].itemid}}">Show Details</a></h4>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</item>
