<div ng-controller="previewCtrl">
<div class="content_top">
	<div class="back-links">
		<h4><a href="#/home">Home</a>
		>>>
		<a href="#/showcase?categoryid={{item.categoryid}}">{{item.categoryname}}</a></h4>
	</div>
	<div class="clear"></div>
</div>
<div class="section group">
	<div class="cont-desc span_1_of_2">
		<div class="product-details">
		<div class="grid images_3_of_2">
			<div id="container">
			 <div id="products_example">
				 <div id="products">
						<img src="images/items/item_{{item.name | removeSpaces}}.jpg" alt=" " />
					</div>
				</div>
			</div>
	</div>
<div class="desc span_3_of_2">
	<h2>{{item.name}}</h2>
	<div class="price">
		<p>Price: <span>Rs. {{item.price}}</span></p>
	</div>
	<div class="share-desc">
		<div class="share">
			<p>Share Product :</p>
			<ul>
				<li><a href="#"><img src="images/facebook.png" alt="" /></a></li>
				<li><a href="#"><img src="images/twitter.png" alt="" /></a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="clear"></div>
</div>
<div class="product_desc">
<div id="horizontalTab">
	<div class="resp-tabs-container">
		<div class="product-desc">
			{{item.description}}
		</div>
</div>
</div>
</div>
<div class="content_bottom">
	<div class="heading">
	<h3>Related Products</h3>
	</div>
	<div class="see">
		<p><a href="#/showcase?categoryid={{item.categoryid}}">See all Products</a></p>
	</div>
	<div class="clear"></div>
</div>
<div class="section group">
	<div class="grid_1_of_4 images_1_of_4" ng-repeat="relatedItem in categoryItems">
		<a href="#/preview?itemid={{relatedItem.itemid}}">
			<img src="images/items/item_{{relatedItem.name | removeSpaces}}.jpg" width="160px" height="160px" alt="">
		</a>
		<div class="price" style="border:none">
			<p>Rs. {{relatedItem.price}}</p>
			<div class="add-cart" style="float:none">
				<h4><a href="#/preview?itemid={{relatedItem.itemid}}">Details</a></h4>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
	</div>
	<div class="rightsidebar span_3_of_1">
			<categories></categories>
	</div>
</div>
</div>
