<div class="content_top">
  <div class="heading">
  <h3>{{showCategory}}</h3>
  </div>
  <div class="clear"></div>
</div>

<div class="section group">
  <item-box ng-controller="itemboxCtrl"></item-box>
</div>
