<!--start-->
<div id="ninja-slider" ng-controller="slideshowCtrl">
    <div class="slider-inner">
        <ul>
          <li ng-repeat="slide in slides">
            <a class="ns-img" href="images/slider/{{slide.name | removeSpaces}}.jpg"></a>
            <div class="caption"></div>
          </li>
        </ul>
        <div class="navsWrapper">
            <div id="ninja-slider-prev"></div>
            <div id="ninja-slider-next"></div>
        </div>
    </div>
</div>
<!--end-->
